.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.box {
  width: 80%;
  height: 200px;
  background: rgba(240, 240, 240, 0.8); /* Light grey semi-transparent background */
  backdrop-filter: blur(10px); /* Blurred background */
  border: 2px dashed #ccc; /* Dashed border with a neutral color */
  border-radius: 10px; /* Slightly rounded corners */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Space between text and icon */
  color: #333; /* Dark grey color for text */
  margin-bottom: 20px; /* Space between boxes */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for a modern look */
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for hover effect */
}

.box:hover {
  transform: scale(1.05); /* Slightly enlarge the box */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhance the shadow */
}

.selectee_box {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100px; /* Adjust the height as needed */
  width: 100px; /* Adjust the width as needed */
  border: 1px solid gray; /* Example border */
  cursor: pointer; /* Example cursor style */
}

.selected {
  background-color: yellow; /* Example selected style */
}

.selectee_box_selected {
  border: 2px solid #007bff; /* Solid border with a blue color */
  color: #007bff; /* Blue color for text */
}

.selectee_box_wrapper{
  display: flex;
  align-items: center;
  gap: 20px; /* Space between text and icon */
  padding: 10px;
}

.plot_section_window{
  padding: 20px;
  overflow-y: scroll;
}